{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/login.js') }}"></script>
{% endblock %}

{% block header %}{% endblock %}

{% block title %}Monak - Přihlášení
{% endblock %}

{% block leftBody %}
	<form method="post" id="loginForm">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Jste přihlášen jako:
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Odhlásit se</a>
			</div>
		{% endif %}

		<a href="{{ path('main') }}"><img src="{{ asset('img/logo.png') }}" alt="" id="logo"></a>
		<h1 class="h3 mb-3 font-weight-normal">Přihlaste se zde!</h1>

		<div id="emailDiv">
			<label for="email" id="emailLabel">Email</label>
			<input type="text" name="_username" id="email" class="form-control" required>
		</div>
		<div id="passwordDiv">
			<label for="password" id="passwordLabel">Heslo</label>
			<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="submitCSS" type="submit">
			Přihlásit se
		</button>
	</form>

	<a href="{{ path('app_forgot_password_request')}}" class="forgottenPassw">Zapomenuté heslo</a>
{% endblock %}

{% block footer %}{% endblock %}
