{% extends 'base.html.twig' %}

{% block title %}Změňte si heslo
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/reset-password.css') }}">
{% endblock %}


{% block header %}{% endblock %}
{% block leftBody %}{% endblock %}
{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}


	<img src="{{ asset('img/logo.png') }}" alt="" id="logo">
	<h1>Změňa hesla</h1>

	<div>
		<small>
			Zadejte Váš email a my vám zašleme link pro změnu Vašeho hesla.
		</small>
	</div>

	{{ form_start(requestForm) }}
	<div>
		{{ form_row(requestForm.email) }}
	</div>

	<button class="btn btn-primary sendBtn">Zaslat email</button>
	{{ form_end(requestForm) }}
{% endblock %}

{% block footer %}{% endblock %}
