{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/adminOrders.css') }}">
{% endblock %}
{% block javascripts %}
	<script src="{{ asset('js/adminOrders.js') }}"></script>
{% endblock %}

{% block body %}
	{% if orderSummaries is empty %}
		<h1>Žádné objednávky</h1>
	{% else %}
		<div class="orders-container">
			{% for order in orderSummaries %}
				<div class="order">
					<div class="order-summary" onclick="toggleOrderDetails({{ order.id }})">
						<p>
							<strong>Objednávka:</strong>
							{{ order.id }}</p>
						<p style="margin: 0 20px">
							<strong>Datum:</strong>
							{{ order.createdAt|date("d.m.Y H:i") }}</p>
						<p style="margin: 0 20px 0 0">
							<strong>Cena:</strong>
							{{ order.totalPrice }},-</p>
						<p  style="margin: 0 20px 0 0">
							<span>Bez DPH</span>
							{{ (order.totalPrice / 1.21) |number_format(2, '.', ',') }},-</p>
						<p>
							<strong>Stav objednávky:</strong>
							{{ order.status }}</p>
					</div>

					<div class="order-details" id="details-{{ order.id }}">
						<p>
							<strong>Jméno:</strong>
							{{ order.userInformation.firstName }}
							{{ order.userInformation.lastName }}</p>
						<p>
							<strong>Email:</strong>
							{{ order.userInformation.mail }}</p>
						<p>
							<strong>Telefon:</strong>
							{{ order.userInformation.phoneNumber }}</p>
						<p>
							<strong>Adresa:</strong>
							{{ order.userInformation.street }},
							{{ order.userInformation.town }},
							{{ order.userInformation.postcode }}</p>

						<p>
							<strong>Produkty:</strong>
						</p>
						<ul>
							{% for orderSet in order.orderSets %}
								<li>{{ orderSet.product.name }}
									({{ orderSet.quantity }}x)</li>
							{% endfor %}
						</ul>

						{% if order.companyInformation %}
							<p>
								<strong>Firma:</strong>
								{{ order.companyInformation.companyName }}</p>
							<p>
								<strong>IČO:</strong>
								{{ order.companyInformation.ico }}</p>
							<p>
								<strong>DIČ:</strong>
								{{ order.companyInformation.dic }}</p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}


{% endblock %}
