<div style="position: absolute; top:100px; max-width:300px; background-color:white; padding:13px; border-radius: 10px;" id="cartSubmenu">
    {% if cart.total > 0 %}
        {% for productInfo in cart.products %}
            <div>
                <p>{{productInfo.product.name}}</p>
                <div class="products">
                    <p style="color:grey">{{productInfo.quantity}}x</p>
                    <p style="color:red">{{productInfo.product.price}},-</p>
                </div>
            </div>
        {% endfor %}
        <div class="border" style="width:95%; height:1px; color:grey; margin:4px auto;"></div>
        <p>
            <span>Celkem</span>
            {{cart.total |number_format(0, '.', ',')}},-</p>
        <p>
            <span>Bez DPH</span>
            {{ (cart.total / 1.21) |number_format(2, '.', ',') }},-</p>
        <a href="{{ path('shoppingcart') }}" style="color: black; text-decoration: underline;">Přejít do košíku</a>
    {% else %}
        <p>Prázdný košík</p>
    {% endif %}
</div>