{% extends "/base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/tags.css') }}">
{% endblock %}

{% block body %}
	<div>
		<h1 style="margin: 0 auto 30px auto; width: fit-content;">
			Vytvořit kategorii
		</h1>

		<div class="product" style="max-width: 260px">
			{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
			<div class="imageDiv">{{ form_row(form.image) }}</div>
			<h2 class="tagName" style="margin: 0 auto; width: fit-content;">{{ form_row(form.name) }}</h2>
			<h4 class="tagDescription lastH">{{ form_row(form.description) }}</h4>
			<button type="submit" class="lastButton productTag tagBTN">Uložit</button>
			{{ form_end(form) }}
		</div>
	</div>

	</div>
{% endblock %}
