{% extends "/base.html.twig" %}

{% block leftBody %}{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}

	<button type="submit">Uložit</button>

	<div>
	prechozi img
		<img src="{{ asset(product.imageURL) }}" alt="{{ product.name }}">
	</div>


	{{ form_end(form) }}
{% endblock %}
