{% extends "base.html.twig" %}

{% block stylesheets %}
	<!-- Na캜ten칤 specifick칠ho CSS souboru pro tuto str치nku -->
	<link rel="stylesheet" href="{{ asset('css/tags.css') }}">
{% endblock %}

{% block body %}
	<div id="right-offer">
		<div id="mainRight-offer" style="display:block;">

			{% set noMessageShow = false %}
			{% set dontShowFiltr = false %}
			<!-- Pokud jsou produkty definov치ny a nejsou pr치zdn칠, zkontroluje se, zda n캩kter칠 produkty nejsou vy콏azeny -->
			{% if products is defined and products is not empty %}
				{% for product in products %}
					{% if product.discontinued %}
						{% set dontShowFiltr = true %}
					{% endif %}
				{% endfor %}
			{% endif %}

			<!-- Podm칤nka pro zobrazen칤 filtr콢, pokud nejsou v코echny produkty vy콏azeny a je u쬴vatel p콏ihl치코en -->
			{% if products is not null and not dontShowFiltr and products|length > 0 or products is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
				<!-- Filtr pro hled치n칤 produkt콢 -->
				<form method="get" class="filtr" style="margin-top: 20px; padding-top: 20px; border-top: 2px solid grey">
					<input type="text" name="name" placeholder="Search..." value="{{ app.request.get('name') }}">

					<select name="order">
						<option value="name" {{ app.request.get('order') == 'name' ? 'selected' }}>Abecedn캩</option>
						<option value="price" {{ app.request.get('order') == 'price' ? 'selected' }}>Cena</option>
					</select>

					<select name="direction">
						<option value="ASC" {{ app.request.get('direction') == 'ASC' ? 'selected' }}>Vzestupn캩</option>
						<option value="DESC" {{ app.request.get('direction') == 'DESC' ? 'selected' }}>Sestupn캩</option>
					</select>

					<label>
						<input type="checkbox" name="in_stock" value="1" {{ app.request.get('in_stock') ? 'checked' }}>Pouze skladem
					</label>

					<button type="submit">Aplikovat filtry</button>
				</form>
			{% elseif not noMessageShow %}
				<!-- Pokud nejsou produkty, zobraz칤 se zpr치va -->
				<h1 class="no-products-message">Zat칤m zde nen칤 쮂멳n칳 produkt</h1>
				{% set noMessageShow = true %}
			{% endif %}

			<!-- Zobrazen칤 produkt콢 -->
			<div id="mainRight-offer">
				{% if products is defined and products is not empty %}
					{% for product in products %}
						<!-- Pokud je produkt vy콏azen칳 nebo nen칤 p콏ihl치코en칳 u쬴vatel, neuk치쬰 se -->
						{% if is_granted('IS_AUTHENTICATED_FULLY') or not product.discontinued %}
							<object
								class="product" {% if product.discontinued %} style="background-color: rgb(255, 162, 162); box-shadow: none" {% endif %}>

								<!-- Opr치vn캩n칤 pro 칰pravy a odstran캩n칤 produkt콢 pro p콏ihl치코en칠 u쬴vatele -->
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
									<object class="editDelete" id="editObject">
										<a href="{{ path('edit_product', {'id': product.id}) }}">Upravit</a>
									</object>
									<object class="editDelete" id="deleteObject">
										<a href="{{ path('remove_product', {'id': product.id}) }}">游딈</a>
									</object>
									<!-- Odkazy pro vy콏azen칤/obnoven칤 produktu -->
									{% if product.discontinued %}
										<object class="editDelete" id="discontinuedObject">
											<a href="{{ path('set_discontinue_product', {'id': product.id, 'state': false})}}">Obnovit</a>
										</object>
									{% else %}
										<object class="editDelete" id="discontinuedObject">
											<a href="{{ path('set_discontinue_product', {'id': product.id, 'state': true}) }}">Vy콏adit</a>
										</object>
									{% endif %}
								{% endif %}

								<!-- Zobrazen칤 obr치zku produktu -->
								<img
								src="{{ asset(product.imageURL) }}" alt="{{ product.name }}">

								<!-- Stav dostupnosti produktu -->
								{% if product.isAvailable and not product.discontinued %}
									{% if is_granted('IS_AUTHENTICATED_FULLY') %}
										<a href="{{ path('set_stock_product', {'id': product.id, 'state': false}) }}">
											<h4 style="color:green">Skladem</h4>
										</a>
									{% else %}
										<h4 style="color:green">Skladem</h4>
									{% endif %}
								{% elseif not product.discontinued %}
									{% if is_granted('IS_AUTHENTICATED_FULLY') %}
										<a href="{{ path('set_stock_product', {'id': product.id, 'state': true}) }}">
											<h4 style="color:red">Nen칤 skladem</h4>
										</a>
									{% elseif product %}
										<h4 style="color:red">Nen칤 skladem</h4>
									{% endif %}
								{% endif %}

								<!-- N치zev produktu a cena -->
								<h2 class="productName">{{ product.name }}</h2>
								<h3 class="productPrice lastH">{{ product.price |number_format(0, '.', ',')}},- /ks</h3>

								<!-- Mo쬹ost p콏id치n칤 do ko코칤ku -->
								{% if product.isAvailable and not product.discontinued %}
									<a href="{{ path('add_cart', {'id': product.id}) }}" class="isAvailable lastButton">P콏idat do ko코칤ku</a>
								{% elseif product.discontinued %}
									<p class="lastButton" style="background-color: red;">Vy콏azeno</p>
								{% else %}
									<p class="isNotAvailable lastButton">Nelze p콏idat</p>
								{% endif %}
							</object>

						{% endif %}
					{% endfor %}
				{% else %}
					<!-- Pokud nejsou produkty, op캩t se zobraz칤 zpr치va -->
					{% if not noMessageShow %}
						<h1 class="no-products-message">Zat칤m zde nen칤 쮂멳n칳 produkt</h1>
						{% set noMessageShow = true %}
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% endblock %}
