{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/shoppingCart.css') }}">
{% endblock %}

{% block body %}

	{% for productInfo in cart.products %}
	
		<div>
			<p>{{productInfo.product.name}}</p>
			<div style="display:flex; justify-content: space-between; margin-bottom: 8px">
				<p style="color:grey">{{productInfo.quantity}}x</p>
				<p style="color:red">{{productInfo.product.price}},-</p>
			</div>
		</div>
		<div style="display:flex;">
			<a href="{{ path('add_cart', {'id': productInfo.product.id, 'toCart': true }) }}" style="color:blue;">⇑&nbsp;&nbsp;</a>
			<a href="{{ path('remove_cart', {'id': productInfo.product.id}) }}" style="color:blue;">&nbsp;&nbsp;⇓</a>
			<a href="{{ path('complete_remove_cart', {'id': productInfo.product.id}) }}" style="color:blue;">&nbsp;odstranit</a>
		</div>

		<a href="{{ path('shoppingcart_info') }}" style="color: black">Pokračovat</a>
	{% endfor %}
		{% if cart.products == null %}
			<h1>Máte prázdný košík, prosím vraťte se zpět.</h1>
		{% endif %}

{% endblock %}
