{% extends "base.html.twig" %}

{% block stylesheets %}
	<!-- Na캜칤t치n칤 CSS souboru pro styly specifick칠 pro tuto 코ablonu -->
	<link rel="stylesheet" href="{{ asset('css/tags.css') }}">
{% endblock %}

{% block leftBody %}
	{% if isOnlyRender == false %}
		<!-- Pokud nen칤 nastavena prom캩nn치 isOnlyRender na false, nezobraz칤 se lev칳 sloupec -->
	{% else %}
		<div
			id="leftOffer">
			<!-- Odkaz na hlavn칤 nab칤dku -->
			<a href="{{ path('main')}}">HLAVN칈 NAB칈DKA</a>
			{% for menuTags in mainTags %}
				<!-- Cyklus pro zobrazen칤 kategori칤, ka쬯치 kategorie je odkaz -->
				<a href="{{ path('tag', {'id': menuTags.id}) }}" class="m1 {% if currentTagId == menuTags.id %}currentPage{% endif %}">{{menuTags.name}}</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block body %}
	<div id="right-offer">

		<div id="mainRight-offer">

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<!-- Pokud je u쬴vatel p콏ihl치코en, umo쬹칤 se p콏id치n칤 nov칠 kategorie -->
				<a href="{{ path('create_tag', {'parentId': currentTagId }) }}" class="createTags">
					<img src="/img/addTagIcon.png" alt="">
					<h2 class="tagName">Kategorie</h2>
					<p class="lastButton">P콏idat</p>
				</a>
			{% endif %}

			{% if tag and tag.childrenTags is not empty %}
				<!-- Pokud existuj칤 podkategorie, nastav칤 se prom캩nn치 pro jejich zobrazen칤 -->
				{% set childrenTags = tag.childrenTags %}
			{% elseif tags is defined %}
				{% set childrenTags = tags %}
			{% endif %}

			{% if childrenTags is defined and childrenTags is not null %}
				<!-- Zobrazen칤 v코ech podkategori칤 -->
				{% for childrenTag in childrenTags %}
					<a href="{{ path('tag', {'id': childrenTag.id}) }}">
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<!-- Pokud je u쬴vatel p콏ihl치코en, zobrazen칤 mo쬹ost칤 pro 칰pravu a smaz치n칤 -->
							<object class="editDelete" id="editObject">
								<a href="{{ path('edit_tag', {'id': childrenTag.id}) }}">Upravit</a>
							</object>
							<object class="editDelete" id="discontinuedObject">
								<a href="{{ path('remove_tag', {'id': childrenTag.id}) }}">Smazat</a>
							</object>
						{% endif %}
						<img src="{{ asset(childrenTag.imageURL) }}" alt="{{ childrenTag.name }}">
						<h2 class="tagName">{{childrenTag.name}}</h2>
						<h4 class="tagDescription lastH">{{childrenTag.description}}</h4>

						<p class="lastButton">Otev콏칤t</p>
					</a>
				{% endfor %}
			{% endif %}
		</div>

		{% set break = false %}
		{% set hasActiveProducts = false %}
		{% if tag is not null and products is not null %}
			{% for product in products %}
				{%  if not product.discontinued %}
					{% set hasActiveProducts = true %}
					{% set break = true %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% set noMessageShow = false %}
		{% set dontShowFiltr = false %}
		{% if products is defined and products is not empty %}
			{% for product in products %}
				{% if product.discontinued %}
					{% set dontShowFiltr = true %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if tag is not null and products is not null and not dontShowFiltr and products|length > 0 or tag is not null and products is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
			<!-- Formul치콏 pro filtraci produkt콢 (hled치n칤, 콏azen칤, dostupnost) -->
			<form method="get" class="filtr" {% if tag and tag.childrenTags is not empty or is_granted('IS_AUTHENTICATED_FULLY') %} style="margin-top: 20px; padding-top: 20px; border-top: 2px solid grey" {% endif %}>
				<input type="text" name="name" placeholder="Search..." value="{{ app.request.get('name') }}">

				<select name="order">
					<option value="name" {{ app.request.get('order') == 'name' ? 'selected' }}>Abecedn캩</option>
					<option value="price" {{ app.request.get('order') == 'price' ? 'selected' }}>Cena</option>
				</select>

				<select name="direction">
					<option value="ASC" {{ app.request.get('direction') == 'ASC' ? 'selected' }}>Vzestupn캩</option>
					<option value="DESC" {{ app.request.get('direction') == 'DESC' ? 'selected' }}>Sestupn캩</option>
				</select>

				<label>
					<input type="checkbox" name="in_stock" value="1" {{ app.request.get('in_stock') ? 'checked' }}>Pouze skladem
				</label>

				<button type="submit">Aplikovat filtry</button>
			</form>
		{% elseif tag is not null and not noMessageShow %}
			<!-- Zobrazen칤 zpr치vy pokud nejsou 쮂멳n칠 produkty -->
			<h1 class="no-products-message">Zat칤m zde nen칤 쮂멳n칳 produkt</h1>
			{% set noMessageShow = true %}
		{% endif %}

		<div id="mainRight-offer">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% if currentTagId != null %}
					<!-- Pokud je u쬴vatel p콏ihl치코en a existuje aktu치ln칤 kategorie, umo쬹칤 se p콏id치n칤 nov칠ho produktu -->
					<a href="{{ path('create_product', {'tagId': currentTagId }) }}" class="createProducts">
						<img src="/img/addProductIcon.png" alt="">
						<h2 class="tagName">Produkt</h2>
						<p class="lastButton">P콏idat</p>
					</a>
				{% endif %}
			{% endif %}

			{% if products is defined and products is not empty %}
				<!-- Cyklus pro zobrazen칤 produkt콢 -->
				{% for product in products %}
					{% if is_granted('IS_AUTHENTICATED_FULLY') or not product.discontinued %}
						<object class="product" {% if product.discontinued %} style="background-color: rgb(255, 162, 162); box-shadow: none" {% endif %}>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<!-- Zobrazen칤 mo쬹ost칤 pro 칰pravu a smaz치n칤 produktu pro p콏ihl치코en칠 u쬴vatele -->
								<object class="editDelete" id="editObject">
									<a href="{{ path('edit_product', {'id': product.id}) }}">Upravit</a>
								</object>
								<object class="editDelete" id="deleteObject">
									<a href="{{ path('remove_product', {'id': product.id}) }}">游딈</a>
								</object>
								{% if product.discontinued %}
									<!-- Mo쬹ost obnovit vy콏azen칳 produkt -->
									<object class="editDelete" id="discontinuedObject">
										<a href="{{ path('set_discontinue_product', {'id': product.id, 'state': false})}}">Obnovit</a>
									</object>
								{% else %}
									<!-- Mo쬹ost vy콏adit produkt -->
									<object class="editDelete" id="discontinuedObject">
										<a href="{{ path('set_discontinue_product', {'id': product.id, 'state': true}) }}">Vy콏adit</a>
									</object>
								{% endif %}
							{% endif %}
							<img src="{{ asset(product.imageURL) }}" alt="{{ product.name }}">
							{% if product.isAvailable and not product.discontinued %}
								<!-- Pokud je produkt skladem -->
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
									<a href="{{ path('set_stock_product', {'id': product.id, 'state': false}) }}">
										<h4 style="color:green">Skladem</h4>
									</a>
								{% else %}
									<h4 style="color:green">Skladem</h4>
								{% endif %}
							{% elseif not product.discontinued %}
								<!-- Pokud produkt nen칤 skladem -->
								{% if is_granted('IS_AUTHENTICATED_FULLY') %}
									<a href="{{ path('set_stock_product', {'id': product.id, 'state': true}) }}">
										<h4 style="color:red">Nen칤 skladem</h4>
									</a>
								{% elseif product %}
									<h4 style="color:red">Nen칤 skladem</h4>
								{% endif %}
							{% endif %}

							<h2 class="productName">{{ product.name }}</h2>
							<h3 class="productPrice lastH">{{ product.price |number_format(0, '.', ',')}},- /ks</h3>
							{% if product.isAvailable and not product.discontinued %}
								<!-- Mo쬹ost p콏idat produkt do ko코칤ku -->
								<a href="{{ path('add_cart', {'id': product.id}) }}" class="isAvailable lastButton">P콏idat do ko코칤ku</a>
							{% elseif product.discontinued %}
								<p class="lastButton" style="background-color: red;">Vy콏azeno</p>
							{% else %}
								<p class="isNotAvailable lastButton">Nelze p콏idat</p>
							{% endif %}
						</object>

					{% endif %}
				{% endfor %}
			{% else %}
				<!-- Pokud nejsou produkty k zobrazen칤, zobraz칤 se zpr치va -->
				{% if currentTagId is not null and not noMessageShow %}
					<h1 class="no-products-message">Zat칤m zde nen칤 쮂멳n칳 produkt</h1>
					{% set noMessageShow = true %}
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>{% endblock %}
