{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/tags.css') }}">
{% endblock %}


{% block leftBody %}
	{% if isOnlyRender == false %}
		{% else %}
			<div id="leftOffer">
				<a href="{{ path('menu')}}">HLAVNÍ NABÍDKA</a>
				{% for menuTags in mainTags %}
					<a href="{{ path('tag', {'id': menuTags.id}) }}" class="m1 {% if currentTagId == menuTags.id %}currentPage{% endif %}">{{menuTags.name}}</a>
				{% endfor %}
			</div>
	{% endif %}
{% endblock %}

{% block body %}
	<div id="right-offer">
		<div id="mainRight-offer">

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<a href="{{ path('create_tag', {'parentId': currentTagId }) }}" id="">
					<img src="/img/addTagIcon.png" alt="">
					<h2 class="tagName">Kategorie</h2>
					<p class="lastButton">Přidat</p>
				</a>

				{% if currentTagId != null %}
					<a href="{{ path('create_product', {'tagId': currentTagId }) }}" id="">
						<img src="/img/addProductIcon.png" alt="">
						<h2 class="tagName">Produkt</h2>
						<p class="lastButton">Přidat</p>
					</a>
				{% endif %}
			{% endif %}


			{% if tag and tag.childrenTags is not empty %}
				{% set childrenTags = tag.childrenTags %}
			{% elseif tags is defined %}
				{% set childrenTags = tags %}
			{% endif %}

			{% if childrenTags is defined and childrenTags is not null %}
				{% for childrenTag in childrenTags %}
					<a href="{{ path('tag', {'id': childrenTag.id}) }}">
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<object class="editDelete" id="editObject">
								<a href="{{ path('edit_tag', {'id': childrenTag.id}) }}">Upravit</a>
							</object>
							<object class="editDelete" id="deleteObject">
								<a href="{{ path('remove_tag', {'id': childrenTag.id}) }}">Smazat</a>
							</object>
						{% endif %}
						<img src="{{ asset(childrenTag.imageURL) }}" alt="{{ childrenTag.name }}">
						<h2 class="tagName">{{childrenTag.name}}</h2>
						<h3 class="tagDescription lastH">{{childrenTag.description}}</h3>

						<p class="lastButton">Otevřít</p>
					</a>
				{% endfor %}
				{% else %}
				<h1>Momentálně zde není žádný produkt</h1>
			{% endif %}

			{% if tag and tag.products is not empty %}
				{% for product in tag.products %}
					<object class="product">
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<object class="editDelete" id="editObject">
								<a href="{{ path('edit_product', {'id': product.id}) }}">Upravit</a>
							</object>
							<object class="editDelete" id="deleteObject">
								<a href="{{ path('remove_product', {'id': product.id}) }}">Smazat</a>
							</object>
						{% endif %}
						<img src="{{ asset(product.imageURL) }}" alt="{{ product.name }}">
						{% if product.isAvailable %}
							<h4 style="color:green">Skladem</h4>
						{% else %}
							<h4 style="color:red">Není skladem</h4>
						{% endif %}
						<!--{% if is_granted('IS_AUTHENTICATED_FULLY') %}
													<a href="{{ path('menu')}}">
														<input type="checkbox" name="" id="">
													</a>
												{% endif %}-->
						<h2 class="productName">{{product.name}}</h2>
						<h3 class="productPrice lastH">{{ product.price }},- /ks</h3>
						{% if product.isAvailable %}
							<a href="{{ path('add_cart', {'id': product.id}) }}" class="isAvailable lastButton">Přidat do košíku</a>
						{% else %}
							<p class="isNotAvailable lastButton">Nelze přidat</p>
						{% endif %}
					</object>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
