{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/tags.css') }}">
{% endblock %}


{% block leftBody %}
	{% if isOnlyRender == false %}
		{% else %}
			<div id="leftOffer">
				<a href="{{ path('main')}}">HLAVNÍ NABÍDKA</a>
				{% for menuTags in mainTags %}
					<a href="{{ path('tag', {'id': menuTags.id}) }}" class="m1 {% if currentTagId == menuTags.id %}currentPage{% endif %}">{{menuTags.name}}</a>
				{% endfor %}
			</div>
	{% endif %}
{% endblock %}

{% block body %}
	<div id="right-offer">

	{% if tag is not null %}
		<form method="get">
			<input type="text" name="name" placeholder="Search..." value="{{ app.request.get('name') }}">

			<select name="order">
				<option value="name" {{ app.request.get('order') == 'name' ? 'selected' }}>Abecedně</option>
				<option value="price" {{ app.request.get('order') == 'price' ? 'selected' }}>Cena</option>
			</select>

			<select name="direction">
				<option value="ASC" {{ app.request.get('direction') == 'ASC' ? 'selected' }}>Vzestupně</option>
				<option value="DESC" {{ app.request.get('direction') == 'DESC' ? 'selected' }}>Sestupně</option>
			</select>

			<label>
				<input type="checkbox" name="in_stock" value="1" {{ app.request.get('in_stock') ? 'checked' }}>Pouze skladem
			</label>

			<button type="submit">Aplikovat filtry</button>
		</form>
	{% endif %}

		<div id="mainRight-offer" {% if tag and tag.childrenTags is not empty or is_granted('IS_AUTHENTICATED_FULLY') %} style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 2px solid grey" {% endif %}>

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<a href="{{ path('create_tag', {'parentId': currentTagId }) }}" class="createTags">
					<img src="/img/addTagIcon.png" alt="">
					<h2 class="tagName">Kategorie</h2>
					<p class="lastButton">Přidat</p>
				</a>
			{% endif %}


			{% if tag and tag.childrenTags is not empty %}
				{% set childrenTags = tag.childrenTags %}
			{% elseif tags is defined %}
				{% set childrenTags = tags %}
			{% endif %}

			{% if childrenTags is defined and childrenTags is not null %}
				{% for childrenTag in childrenTags %}
					<a href="{{ path('tag', {'id': childrenTag.id}) }}">
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<object class="editDelete" id="editObject">
								<a href="{{ path('edit_tag', {'id': childrenTag.id}) }}">Upravit</a>
							</object>
							<object class="editDelete" id="deleteObject">
								<a href="{{ path('remove_tag', {'id': childrenTag.id}) }}">Smazat</a>
							</object>
						{% endif %}
						<img src="{{ asset(childrenTag.imageURL) }}" alt="{{ childrenTag.name }}">
						<h2 class="tagName">{{childrenTag.name}}</h2>
						<h4 class="tagDescription lastH">{{childrenTag.description}}</h4>

						<p class="lastButton">Otevřít</p>
					</a>
				{% endfor %}
			{% endif %}
		</div>
		<div id="mainRight-offer">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% if currentTagId != null %}
					<a href="{{ path('create_product', {'tagId': currentTagId }) }}" class="createProducts">
						<img src="/img/addProductIcon.png" alt="">
						<h2 class="tagName">Produkt</h2>
						<p class="lastButton">Přidat</p>
					</a>
				{% endif %}
			{% endif %}

			{% if products is defined and products is not empty %}
				{% for product in products %}
					{% if is_granted('IS_AUTHENTICATED_FULLY') or not product.discontinued %}
						<object class="product">
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<object class="editDelete" id="editObject">
									<a href="{{ path('edit_product', {'id': product.id}) }}">Upravit</a>
								</object>
								{% if product.discontinued %}
									<object class="editDelete" id="deleteObject">
										<a href="{{ path('set_discontinue_product', {'id': product.id, 'state': false})}}">Obnovit</a>
									</object>
								{% else %}
									<object class="editDelete" id="deleteObject">
										<a href="{{ path('set_discontinue_product', {'id': product.id, 'state': true}) }}">Vyřadit</a>
									</object>
								{% endif %}
							{% endif %}
							<img src="{{ asset(product.imageURL) }}" alt="{{ product.name }}">
							{% if product.isAvailable %}
								<a href="{{ path('set_stock_product', {'id': product.id, 'state': false}) }}"><h4 style="color:green">Skladem</h4></a>
							{% else %}
								<a href="{{ path('set_stock_product', {'id': product.id, 'state': true}) }}"><h4 style="color:red">Není skladem</h4></a>
							{% endif %}

							<h2 class="productName">{{product.name}}</h2>
							<h3 class="productPrice lastH">{{ product.price }},- /ks</h3>
							{% if product.isAvailable %}
								<a href="{{ path('add_cart', {'id': product.id}) }}" class="isAvailable lastButton">Přidat do košíku</a>
							{% else %}
								<p class="isNotAvailable lastButton">Nelze přidat</p>
							{% endif %}
						</object>
					{% endif %}
				{% endfor %}
			{% else %}
				{% if currentTagId is not null %}

					<h1 class="no-products-message">Zatím zde není žádný produkt</h1>
					<style>
						.no-products-message {
							grid-column: 1 / -1;
							text-align: center;
							align-self: center;
						}
					</style>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>{% endblock %}
